body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(207, 93, 12);

}

.main-container {
    border: 15px solid maroon;
    border-radius: 5px;
    overflow: hidden;
    width: 440px;
    background-color: wheat;
}

h1, h2 {
    color: #333;
    text-align: center;
}

#cart-container, #product-container {
    margin-bottom: 20px;
}

#product-container input {
    margin-right: 10px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

#total {
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 320px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}